@model PSoftware.Models.SanPham
@*@model Tuple<PSoftware.Models.SanPham, PSoftware.Models.CKEditor>*@
@{
    ViewBag.Title = "Chỉnh sửa sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPageAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaSP)
        @Html.HiddenFor(model => model.NgayTao)
        @Html.HiddenFor(model => model.NgayChinhSua)
        <div class="container card" style="width: 55rem; padding: 30px; margin-top: 10px; margin-bottom: 10px;">
            <h3 style="margin: 20px 0px; text-align: center">CHỈNH SỬA SẢN PHẨM</h3>
            <hr />
            <h5 style="margin-bottom: 10px">Thông tin cơ bản</h5>
            <div class="form-row">
                <div class="form-group col">
                    @Html.LabelFor(model => model.MaSP, "Mã sản phẩm", htmlAttributes: new { @for = "inputMaSP" })
                    @Html.EditorFor(model => model.MaSP, new { htmlAttributes = new { @class = "form-control", @id = "inputMaSP", @readonly = "" } })
                    @Html.ValidationMessageFor(model => model.MaSP, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col">
                    @Html.LabelFor(model => model.TenSP, "Tên sản phẩm", htmlAttributes: new { @for = "inputTenSP" })
                    @Html.EditorFor(model => model.TenSP, new { htmlAttributes = new { @class = "form-control", @id = "inputTenSP" } })
                    @Html.ValidationMessageFor(model => model.TenSP, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Gia, "Giá sản phẩm", htmlAttributes: new { @for = "inputGia" })
                @Html.EditorFor(model => model.Gia, new { htmlAttributes = new { @class = "form-control", @id = "inputGia", @value = Model.Gia } })
                @Html.ValidationMessageFor(model => model.Gia, "", new { @class = "text-danger" })
            </div>
            <div class="form-row">
                <div class="form-group col">
                    @Html.LabelFor(model => model.MaNPT, "Nhà phát triển", htmlAttributes: new { @for = "inputMaNPT" })
                    @Html.DropDownList("MaNPT", null, htmlAttributes: new { @class = "form-control", @id = "inputMaNPT" })
                    @Html.ValidationMessageFor(model => model.MaNPT, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col">
                    @Html.LabelFor(model => model.MaLSP, "Loại sản phẩm", htmlAttributes: new { @for = "inputMaLSP" })
                    @Html.DropDownList("MaLSP", null, htmlAttributes: new { @class = "form-control", @id = "inputMaLSP" })
                    @Html.ValidationMessageFor(model => model.MaLSP, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col">
                    @Html.LabelFor(model => model.MaTL, "Thể loại", htmlAttributes: new { @for = "inputMaTL" })
                    @Html.DropDownList("MaTL", null, htmlAttributes: new { @class = "form-control", @id = "inputMaTL" })
                    @Html.ValidationMessageFor(model => model.MaTL, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    @Html.LabelFor(model => model.NgayTao, "Ngày tạo", htmlAttributes: new { @for = "inputNgayTao" })
                    @Html.EditorFor(model => model.NgayTao, new { htmlAttributes = new { @class = "form-control", @id = "inputNgayTao", @readonly = "" } })
                    @Html.ValidationMessageFor(model => model.NgayTao, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col">
                    @Html.LabelFor(model => model.NgayChinhSua, "Ngày chỉnh sửa", htmlAttributes: new { @for = "inputNgayChinhSua" })
                    @Html.EditorFor(model => model.NgayChinhSua, new { htmlAttributes = new { @class = "form-control", @id = "inputNgayChinhSua", @readonly = "" } })
                    @Html.ValidationMessageFor(model => model.NgayChinhSua, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr />
            <h5 style="margin-bottom: 10px">Thông tin chi tiết</h5>
            @*<div class="form-group">
                @Html.LabelFor(model => model.TieuDe, "Tiêu đề", htmlAttributes: new { @for = "inputTieuDe" })
                @Html.EditorFor(model => model.TieuDe, new { htmlAttributes = new { @class = "form-control", @id = "inputTieuDe", @value = Model.TieuDe } })
                @Html.ValidationMessageFor(model => model.TieuDe, "", new { @class = "text-danger" })
            </div>*@
            <div class="form-row">
                <div class="form-group col">
                    @Html.LabelFor(model => model.NoiDung, "Nội dung", htmlAttributes: new { @for = "inputNoiDung" })
                    @Html.TextAreaFor(model => model.NoiDung, htmlAttributes: new { @class = "form-control", @id = "inputNoiDung", @style = "height: 200px; resize: none;", @placeholder = "Nhập văn bản vào đây...", @value = Model.NoiDung })
                    @Html.ValidationMessageFor(model => model.NoiDung, "", new { @class = "text-danger" })                  
                </div>
            </div>
            @*@Html.Partial("Edit_Partial")*@
            <div class="form-row">
                <div class="form-group col">
                    @Html.EditorFor(model => model.Anh, new { htmlAttributes = new { @class = "form-control", @placeholder = "Liên kết ảnh 1", @id = "inputAnh1" } })
                    @Html.ValidationMessageFor(model => model.Anh, "", new { @class = "text-danger" })
                </div>
                @*<div class="form-group col">
                    @Html.EditorFor(model => model.Anh2, new { htmlAttributes = new { @class = "form-control", @placeholder = "Liên kết ảnh 2", @id = "inputAnh2" } })
                    @Html.ValidationMessageFor(model => model.Anh2, "", new { @class = "text-danger" })
                </div>*@
            </div>
            @*<div class="form-row">
                <div class="form-group col">
                    @Html.EditorFor(model => model.Anh3, new { htmlAttributes = new { @class = "form-control", @placeholder = "Liên kết ảnh 3", @id = "inputAnh3" } })
                    @Html.ValidationMessageFor(model => model.Anh3, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col">
                    @Html.EditorFor(model => model.Anh4, new { htmlAttributes = new { @class = "form-control", @placeholder = "Liên kết ảnh 4", @id = "inputAnh4" } })
                    @Html.ValidationMessageFor(model => model.Anh4, "", new { @class = "text-danger" })
                </div>
            </div>*@
            <div class="form-row">
                <div class="form-group col text-center">
                    <div class="btn bg-primary text-white" onclick="changeImgs()" style="width: 100px;">Load</div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <img id="anh1" src="@Model.Anh" style="width:100%" />
                </div>
                @*<div class="form-group col">
                    <img id="anh2" src="@Model.Anh2" style="width:100%" />
                </div>*@
            </div>
            @*<div class="form-row">
                <div class="form-group col">
                    <img id="anh3" src="@Model.Anh3" style="width:100%" />
                </div>
                <div class="form-group col">
                    <img id="anh4" src="@Model.Anh4" style="width:100%" />
                </div>
            </div>*@
            <hr />
            <div class="form-group text-center">
                <input type="submit" value="Cập nhập sản phẩm" class="btn btn-primary text-white" style="width: 200px; margin-top: 20px;" />
            </div>
            <div class="form-group text-center">
                @Html.ActionLink("Quay lại danh sách sản phẩm", "Index")
            </div>
        </div>
    </div>
}
<script src="~/assets/plugins/ckeditor/ckeditor.js"></script>
<script>
    function changeImgs() {
        changeImg('anh1', 'inputAnh1');
        //changeImg('anh2', 'inputAnh2');
        //changeImg('anh3', 'inputAnh3');
        //changeImg('anh4', 'inputAnh4');
    }
    function changeImg(nameAnh, inputText) {
        var anh = document.getElementById(nameAnh);
        var inputAnh = document.getElementById(inputText);
        if (inputAnh.value != "")
            anh.src = inputAnh.value;
        else
            anh.src = "/Images/photodefault.png";
    }
    var editor = CKEDITOR.replace('inputNoiDung', {
        customConfig: '/assets/plugins/ckeditor/config.js',
    });
</script>
