@model List<PSoftware.Models.SanPham>

@{
    ViewBag.Title = "IndexNC";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPageAdmin.cshtml";
    var grid = new WebGrid(Model, canPage: true, defaultSort: "MaSP", rowsPerPage: 10);
}

<style>
    .alternatingRowStyle {
        background-color: #e3f2fd;
    }

    .grid-footer {
        color: #000;
        font: 20px;
        text-align: center;
        font-weight: bold;
    }

        .grid-footer --> a {
            background-color: #ffffff;
            color: #007bff;
            padding: 8px;
        }

            .grid-footer --> a:active, a:hover {
                background-color: #ffffff;
                color: #FFAD33;
            }

    table .table1 {
            text-align: left;
            margin-left: 0px;
            margin-right: 0px;
            width: 800px;
        }

        .tr, .td {
            text-align: left;
        }
</style>
<h3 style="text-align: center; padding:30px;">Danh Sách Sản Phẩm</h3>
<p>
    @Html.ActionLink("Thêm sản phẩm", "Create")
</p>

<div>
    @using (Html.BeginForm("IndexNC", "QLSanPhams", FormMethod.Get))
    {
        @Html.AntiForgeryToken()


        <table class="table1" align="center">           
            <tr>
                <td>Tên sản phẩm</td>
                <td>
                    <input type="text" name="tenSP" value="@ViewBag.tenSP" />
                </td>

            </tr>
            
            <tr>
                <td>Giá từ</td>
                <td>
                    <input type="text" name="giaMin" value="@ViewBag.giaMin" />
                    Đến<input type="text" name="giaMax" value="@ViewBag.giaMax" />
                </td>

            </tr>

            <tr>
                <td>Loại sản phẩm</td>
                <td>
                    @Html.DropDownList("MaLSP", null, "Tất cả", htmlAttributes: new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <td>Nhà phát triển</td>
                <td>
                    @Html.DropDownList("MaNPT", null, "Tất cả", htmlAttributes: new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <td>Thể loại</td>
                <td>
                    @Html.DropDownList("MaTL", null, "Tất cả", htmlAttributes: new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" name="submit" value="Tìm kiếm" style="margin-left: 5px;width:100px;
                background-color: blue;color:white" />                    
               </td>
            </tr>
        </table>
    }
</div>

<div id="gridContent">
    @ViewBag.TB
    @grid.GetHtml(
        tableStyle: "table table-bordered table-hover",
        footerStyle: "grid-footer",
        fillEmptyRows: true,
        mode: WebGridPagerModes.Numeric,
        alternatingRowStyle: "alternatingRowStyle",
        columns: new[]  // colums in grid
        {
            /*grid.Column("MaSP","Mã SP"),*/ //the model fields to display
            grid.Column("TenSP","Tên SP"  ),
            grid.Column("Gia","Giá",format:@<text> @item.Gia.ToString("#,##0")</text>),
            grid.Column("NgayTao","Ngày Thêm"),
            grid.Column("LoaiSanPham.TenLSP","Loại SP"),
            grid.Column("TheLoai.TenTL","Thể Loại"),
            grid.Column("NhaPhatTrien.TenNPT","Nhà Phát Triển"),
            grid.Column(format: (item) => Html.ActionLink("Sửa", "Edit", "QLSanPhams",new { id = item.MaSP },"QLSanPhamsController")),
            grid.Column(format: (item) => Html.ActionLink("Xem", "Details","QLSanPhams", new { id = item.MaSP },"QLSanPhamsController")),
            grid.Column(format: (item) => Html.ActionLink("Xóa", "Delete","QLSanPhams", new { id = item.MaSP },"QLSanPhamsController")),
        }
    )
</div>

