@model PSoftware.Models.CauHinhYeuCau

<div class="col">
    <h4>Cấu hình yêu cầu</h4>
    <p class="small">CPU: @Model.CPU</p>
    <p class="small"><h6>VGA: </h6>@Model.GPU</p>
    <p class="small"><h6>Ram: </h6>@Model.RAM</p>
    <p class="small"><h6>Storage: </h6>@Model.Storage</p>
    <p class="small"><h6>DirectX: </h6>@Model.DirectX</p>
    <p class="small"><h6>OS: </h6>@Model.OS</p>
</div>
